{{ $sep := .Get "sep" }}
{{ $url := .Get "url" }}
{{ $csv := getCSV $sep $url }}
{{ $headers := index $csv 0 }}
{{ $rows := after 1 $csv }}

<table>
  <thead>
    <tr>
      {{ range $headers }}
      <th> {{ . }} </th>
      {{ end }}
    </tr>
  </thead>
  <tbody>
    {{ range $i, $r := $rows }}
    <tr>
      {{ range $str :=  $r }}
      {{ if or (in $str ".jpeg") (or (in $str ".jpg") (or (in $str ".png") (in $str ".svg")))}}
      <td>
	<a target="_blank" href="{{$.Site.BaseURL}}/tables/imgs/{{ . }}" rel="noopener noreferrer">
	  <img src="{{$.Site.BaseURL}}/tables/imgs/{{ . }}">
	</a>
      </td>
      {{ else }}
      <td> {{ . }} </td>
      {{ end }}
      {{ end }}
    </tr>
    {{ end }}
  </tbody>
</table>
